body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background-color: #315481;
  background-attachment: fixed;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: 400;
  color: #333333;
  font-size: 16px;
}

#container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  left: 11.1111%;
  right: 11.1111%;
}
header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

form {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 180px;
  height: auto;
  color: white;
}
#main {
  color: white;
}
#main h2 {
  color: burlywood;
  font-size: 24px;
}
#main h3 {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 5px;
}
#main h3 span {
  color: burlywood;
}
