<template name="addDevice">
<form class="main form add_device">
    <div class="form-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
          <input name="name" id="name" type="text" value="" placeholder="Name" class="form-control"/>
      </div>
    </div>
    
        <div class="form-group">
      <label class="control-label" for="devId">Device Id</label>
      <div class="controls">
          <input name="devId" id="devId" type="text" value="" placeholder="Device Id" class="form-control"/>
      </div>
    </div>
    
        <div class="form-group">
      <label class="control-label" for="accessToken">Access Token</label>
      <div class="controls">
          <input name="accessToken" id="accessToken" type="text" value="" placeholder="Access Token" class="form-control"/>
      </div>
    </div>
	

	<input type="submit" value="Add device" class="btn btn-primary"/>

	
    </form>
</template>
